---
import LayoutMobile from '../layouts/LayoutMobile.astro'
---


<LayoutMobile>
    <div class="w-32 mx-auto mt-2">
        <h1 class="btn btn-ghost text-xl mx-auto">urbanBus.</h1>
    </div>
</LayoutMobile>
    
