---
import LayoutMobile from '../layouts/LayoutMobile.astro'
---


<LayoutMobile>
    <div class="mx-auto mt-4">
        <h1 class="btn btn-ghost text-3xl w-full mx-auto hover:bg-white">urbanBus.</h1>
    </div>
</LayoutMobile>
    
