---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="urbanBus">
    <main>
        <NavBar />  
        <h1>Welcome to UrbanBus</h1>
        <div>
            <a class="btn" href="/about">Click Me</a>
        </div>
		
    </main>
</Layout>

