---
import LayoutAdmin from '../layouts/LayoutAdmin.astro';
import Temp from '../components/AdminWeb/FullPage.jsx';

---

<LayoutAdmin title="urbanBus">
    <div>
        <Temp client:load/>
    </div>
</LayoutAdmin>

