---
import LayoutAdmin from '../layouts/LayoutAdmin.astro';
---

<LayoutAdmin title="urbanBus">
    <div class="mockup-phone fixed right-4">
        <div class="camera"></div> 
        <div class="display">
            <div class="artboard artboard-demo phone-2">
                <iframe src="/app" class="h-full w-full" title="Iframe Example"></iframe>
            </div>
        </div>
    </div>
</LayoutAdmin>

