---
import LayoutAdmin from '../layouts/LayoutAdmin.astro';
import FullPage from '../components/AdminWeb/FullPage.jsx';
---

<LayoutAdmin title="urbanBus">
    <div>
        <FullPage client:load/>
    </div>
</LayoutAdmin>

