---
import LayoutMobile from '../layouts/LayoutMobile.astro';
import SchedulesMenu1 from '../components/SchedulesMenu1.astro';
import SchedulesMenu2 from '../components/SchedulesMenu2.astro';
---

<LayoutMobile title="urbanBus">
	<div class="w-full h-screen">
		<SchedulesMenu1 />
		<SchedulesMenu2 />
	</div>
</LayoutMobile>