---
import LayoutMobile from '../layouts/LayoutMobile.astro';
import SchedulesMenu1 from '../components/SchedulesMenu1.astro';
import SchedulesMenu2 from '../components/SchedulesMenu2.astro';
---

<LayoutMobile title="urbanBus">
	<div class="flex flex-col h-full">
		<div class="flex-1">
			<SchedulesMenu1 />
		</div>
		<div class="divider mb-0 vertical-center">OR</div>
		<div class="flex-1">
			<SchedulesMenu2 />
		</div>
	</div>
</LayoutMobile>