---
import NavMobile from "../components/NavMobile.astro"
import Layout from "./Layout.astro"

---

<Layout title="Home">
    <div class="mx-auto">
        <slot />
    </div>
    <NavMobile/>
</Layout>

