---
import Layout from "./Layout.astro"
import Nav from "../components/AdminWeb/Nav.jsx"

---

<Layout title="Home">
    <div class="w-full h-svh">
        <Nav/>
        <div class="px-6 pt-16">
            <slot />
        </div>
    </div>
</Layout>