---
import NavMobile from "../components/NavMobile.astro"
import Layout from "./Layout.astro"

---

<Layout title="Home">
    <div class="w-32 mx-auto mt-2">
        <h1 class="btn btn-ghost text-xl mx-auto">urbanBus.</h1>
    </div>
    <div class="mx-auto">
        <slot />
    </div>
    <NavMobile/>
</Layout>

