---
import NavItem from '../components/NavItem.astro';
---

<div class="navbar">
    <div class="nav_left">
        <div>
            <img src="" alt="logo">
        </div>
    </div>
    <div class="nav_middle">
        <NavItem title='Home'></NavItem>
        <NavItem title='About'></NavItem>
        <NavItem title='Profile'></NavItem>
        
    </div>
    <div class="nav_right">
        <NavItem title='Search'></NavItem>
    </div>
</div>

<style>
    .class{
        display: flex;
    }
    .nav_left{
        margin-left: 0px;
    }
    .nav_right{
        margin-right: 0px;
    }
    .nav_middle{
        margin-left: auto;
        margin-right: auto;
    }
</style>