---
import NavMobileItem from "./NavMobileItem.astro"
---


<div class="btm-nav bg-neutral rounded-2xl mb-3">
    <NavMobileItem icon="fas fa-home" href="/app/"/>
    <NavMobileItem icon="fas fa-route" href="/app/schedules"/>
    <NavMobileItem icon="fas fa-map" href="/app/map"/>
    <NavMobileItem icon="fas fa-user" href="/app/profile"/>
</div>

<style>
    .btm-nav{
        position: fixed;
        left: 25px;
        width: calc(100% - 50px);
    }
</style>