---
import Layout from "../../layouts/Layout.astro"
---
<Layout title="urbanBus">
    <div class="mt-4">
        <div class="w-32 mx-auto mt-2">
            <h1 class="btn btn-ghost text-xl mx-auto">urbanBus.</h1>
        </div>
    </div>
    <div class="text-center mt-40">
        <div class="btn btn-ghost"><i class="fa-solid fa-check text-[90pt]"></i></div>
        <div>Pass loaded successfully</div>
        <a href="/app">
            <div class="btn btn-neutral mt-16">Exit</div>
        </a>
    </div>
</Layout>


    
    
