---
import LayoutMobile from '../../layouts/LayoutMobile.astro';
---

<LayoutMobile title="Profile">
	
	<div class="flex mt-8 mb-6 rounded-xl bg-neutral">
		<div class="flex ml-6">
			<div class="avatar placeholder my-auto">
				<div class="bg-gray-400 text-neutral-content rounded-full w-20 h-20">
					<span class="text-3xl">JD</span>
				</div>
			</div>
			<div>
				<div class="my-7">
					<h1 class="text-sm font-bold ml-6 text-white">John Doe</h1>
					<h1 class="text-sm font-bold ml-6 text-white">johndoe@gmail.com</h1>
					<h1 class="text-sm font-bold ml-6 text-gray-500">Client</h1>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-neutral rounded-xl mt-2 w-full" onclick="my_modal_3.showModal()"><i class="fa-solid fa-ticket"></i>My Pass</button>
	<dialog id="my_modal_3" class="modal">
		<div class="modal-box">
			<form method="dialog">
				<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
			</form>
			<div class="bg-neutral h-52 rounded-xl mt-4 w-full text-white">
				<div class="w-full h-full mx-2 my-2">
					<div class="mt-4 flex flex-row">
						<div class="btn btn-ghost text-xl justify-start mt-8 ml-4 basis-1/2">
							urbanBus.
						</div>
						<div class="avatar placeholder justify-end basis-1/2 mr-10 mt-6">
							<div class="bg-gray-400 text-neutral-content rounded-full w-16 h-16">
								<span class="text-3xl">JD</span>
							</div>
						</div>
					</div>
					<div class="flex flex-col pr-4 basis-full justify-items-center">
						<h1 class="text-sm rounded-md bg-white font-bold text-neutral text-left w-11/12 mx-auto mt-6 pl-2">John Marshall Saint Doe</h1>
						<h1 class="text-sm rounded-md bg-white font-bold text-neutral mt-2 text-left mx-auto w-11/12 pl-2">41249</h1>
						<h1 class="text-sm rounded-md bg-white font-bold text-neutral mt-2 text-left mx-auto w-11/12 pl-2">val 30/04</h1>
					</div>
				</div>
			</div>
			<div class="collapse bg-base-200 mt-2">
				<input type="checkbox" /> 
				<div class="collapse-title text-md px-1 text-neutral font-bold text-center">
				  	Show QR
				</div>
				<div class="collapse-content"> 
					<img src="../public/qr.svg" class="h-36 w-36 mx-auto mt-4">
				</div>
			</div>
		</div>
	</dialog>
	<div class="btn btn-neutral flex h-12 rounded-xl mt-2 " onclick="my_modal_4.showModal()">
		<div class="mx-auto flex">
			<i class="fa-solid fa-credit-card text-white my-auto"></i>
			<h1 class="text-md font-bold text-white ml-2 my-auto">Renew Pass</h1>
		</div>
	</div>
	<dialog id="my_modal_4" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
			<form method="dialog">
				<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
			</form>
			<h3 class="font-bold text-lg">Payment Confirmation</h3>
			<p class="">Click the button below to confirm the payment</p>
          
          <div class="modal-action">
            <form action="/app/loading">
				<h4 class="text-md mb-2 btn font-bold text-neutral w-full">Renovation 11€ (30 days)</h4>
				<select class="select select-bordered w-full text-lg" id="opcao">
					<option disabled selected>Pick your payment method</option>
					<option value="mbway">MbWay</option>
					<option value="visa">Visa</option>
					<option value="paypal">PayPal</option>
				</select>
				
				<div id="mbway" style="display: none;">
					<label class="input input-bordered flex items-center gap-2 mt-2">
						Phone
						<input id="mbwayInput" type="tel" class="grow" pattern="[0-9]{9}" placeholder="987 654 321" />
					</label>
				</div>
				
				<div id="visa" style="display: none;">
					<label class="input input-bordered flex items-center gap-2 mt-2">
						Number
						<input id="visaInput" type="tel" class="grow" pattern="[0-9]{16}" placeholder="1234 1234 1234 1234" />
					</label>
				</div>
				
				<div id="paypal" style="display: none;">
					<label class="input input-bordered flex items-center gap-2 mt-2">
						Email
						<input id="paypalInput" type="text" class="grow" pattern="[a-z]+@[a-z]+.[a-z]+" placeholder="urbanBus@bus.com" />
					</label>
				</div>
              <input type="submit" value="Pay 11€" class="btn btn-neutral mt-2 w-full">
            </form>
          </div>
        </div>
    </dialog>
	
	<div class="btn btn-neutral flex h-12 rounded-xl mt-2">
		<div class="mx-auto flex">
			<i class="fa-solid fa-arrow-right-from-bracket text-white my-auto"></i>
			<h1 class="text-md font-bold text-white ml-2 my-auto">Log out</h1>
		</div>
	</div>
    
    <script>
        document.getElementById("opcao").addEventListener("change", function() {
            var opcaoSelecionada = this.value;
    
            // Oculta todos os conteúdos
            document.getElementById("mbway").style.display = "none";
            document.getElementById("visa").style.display = "none";
            document.getElementById("paypal").style.display = "none";
    
            // Exibe o conteúdo correspondente à opção selecionada
            document.getElementById(opcaoSelecionada).style.display = "block";
    
            // Oculta a mensagem de erro ao trocar a opção
            document.getElementById("error-msg").style.display = "none";
        });
    </script>
</LayoutMobile>
